/**************** TTT ******************/

 html{
 overflow-y: scroll;
}
.login-layout{background:#E4E6E9;}
 #login-box,#forgot-box{margin-top: 20px;}
 .login-box .toolbar > div{width:auto;}
input.btn::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
	margin-top:1px; 
}
#tabs{padding:0;}
#aux.mi{padding-left: 133px;}

#tabs #aux:before, #tabs #aux:after{  border-collapse: collapse;
    content: "";
    display: table;}
	
#tabs #aux{   border-bottom: 1px solid #c5d0dc;    padding: 0;margin:0;}
#tabs #aux >li{  border-bottom-width: 0;
    float: left;
    list-style: outside none none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;}

#tabs #aux>li.ui-tabs-active{ margin-bottom: -1px;
    padding-bottom: 1px;}
#tabs #aux >li a{
	 background-color: #f9f9f9;
    border-color: #c5d0dc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #999;
    line-height: 16px;
    margin-right: -1px;
    padding: 8px 12px;
    position: relative;
    top: 2px;
    z-index: 11;
	}
	#tabs #aux >li.ui-state-default > a{

	 background-color: #f9f9f9;
    border-color: #c5d0dc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #999;
    line-height: 16px;
    margin-right: -1px;
    padding: 8px 12px;
    position: relative;
    top: 2px;
    z-index: 11;
	}
		#tabs #aux >li.ui-tabs-active > a{
		   background-color: #fff;
    border-color: #4c8fbd #c5d0dc transparent;
    border-image: none;
    border-right: 1px solid #c5d0dc;
    border-style: solid;
    border-width: 2px 1px 1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
    color: #576373;
    position: relative;
    top: 1px;
		}
		#tabs>div{display:none;}
	
#tabsI{padding:0;background:#eee;}
#tabsI>ul{border-color: #C5D0DC;float: left;margin-bottom: 0;top: auto;position:relative;min-width:132px;}
#tabsI> ul > li {float: none;margin:0 0 -1px 0;display:block;position:relative;}
#tabsI > ul > li > a{margin:0;margin-right: -1px;position: relative;z-index: 11;display:block;float:none;}
#tabsI > ul > li:first-child > a{border-top:0;}
#tabsI > ul > li.ui-tabs-active > a{border-left: 2px solid #4C8FBD;border-color:#C5D0DC rgba(0, 0, 0, 0) #C5D0DC #4C8FBD;border-top-width: 1px;box-shadow: -2px 0 3px 0 rgba(0, 0, 0, 0.15);margin: 0 -1px;}
#tabsI .ui-tabs-panel{background:#fff;overflow:hidden;border-bottom:0;border-right:0;}

.acciones form{float:left;margin-left:5px;}

.pestanias:before,.pestanias:after {
    content: " ";
    display: table;
}

.pestanias:after {
    clear: both;
}

[data-toggle=collapse]{cursor:pointer;}

.asc {
    background: url("../images/asc.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    padding-right: 10px;
}
.desc {
    background: url("../images/desc.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    padding-right: 10px;
}

.precioMoneda{text-align:right;}
ul.nestedView{
 list-style-type: none;
}

#formComentarioEnvio .acciones{margin-bottom:30px;}
.ace-spinner{width:100% !important;}

#imagen_comercial{overflow:hidden;position:relative;}
.capaOver{-webkit-transition:bottom 0.5s ease 0s;
-moz-transition:bottom 0.5s ease 0s;
transition:bottom 0.5s ease 0s;
background: rgb(241, 241, 241) transparent;
background: rgba(241, 241, 241, 0.8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCf1f1f1, endColorstr=#CCf1f1f1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCf1f1f1, endColorstr=#CCf1f1f1)";
padding:15px;position:absolute;bottom:-140px;right:0;left:0;text-align:center;}
#imagen_comercial:hover .capaOver{bottom:0px;}
.icoR{background:#438EB9;border-radius:50%;padding:10px;color:#fff;}
.capaOver a:hover{text-decoration:none;}
.selector_versiones{ cursor: pointer; padding: 5px;}